<div class="divGeneral">
  <h1 class="h1">Contador de postulaciones</h1>
  <div class="flex p-5 div">
    <h2>Cantidad de postulaciones realizadas Hoy: {{ postulacionesHoy }}</h2>
    <div class="div2">
      <button (click)="sumar()" class="btn btn-primary m-3">
        Sumar postulación
      </button>
      <button (click)="restar()" class="btn btn-primary m-3">Restar</button>
      <button (click)="clear()" class="btn btn-primary m-3">
        Limpiar memoria
      </button>
    </div>
    <h2 *ngIf="postulacionLogradas">
      Cantidad de postulaciones mínimas diarias realizadas!!!
    </h2>

    <div>
      <h4>
        Cantidad de postulaciones realizadas en la semana: {{ contadorLocal }}
      </h4>
    </div>
  </div>
</div>
